{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "semi": false,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "none"
}
